* {
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bs-dark);
    color:var(--bs-secondary);
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin-left: 5px;
    padding-left: 5px;
}

.progress{
    border: 1px solid var(--bs-dark);
}
